.no_underline{
    text-decoration-line: none;
}
.text_center{
 text-align: center;
}
.text_right{
    text-align: right;
}
.button{
    border: 1px solid black;
    padding:  5px 15px;
    margin: 20px;
    border-radius:10px ;
}
.cursor{
    cursor: pointer;
}
.body_color{
    background-color:azure;
}
.button_center
{
    display:flex;
    justify-content: center;
}
.margin{
    margin: 20px 10px;
}
.button_color{
    background-color: beige;
    color: black;
    border: 1px solid black;
}
.heding_font_familay{
    font-size: 20px;
    font-family: "Gupter", serif;
     color: navy;
}
.content_font_familay{
    font-size: 15px;
    font-family:"Edu AU VIC WA NT Hand", cursive;
}
.heding_background_color{
  background-color:#ff9999;
  margin-top:0px;
  padding: 0px;
  text-decoration: none;
}
.a{
margin-bottom: 15px;
}
.button:hover
{
  border-radius: none;
  transition: 1s;
  background-color: #ff9999;
}
.padding_top
{
    padding-top: 20px;
}
.footer{
    box-shadow: 1px 2px 10px 2px #ff9999;;
}